.VehicleCard {
  position: relative;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #eee;
}

.favorite {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 5px;
  background-color: #000;
  border: 1px solid #FCBE00;
  border-radius: 3px;
  color: #fff;
}

.favorite:hover {
  background-color: #FCBE00;
  color: #000;
}

.title {
  font-weight: 700;
}

@media screen and (min-width: 600px)  {

  .VehicleCard {
    width: 45%;
    margin: 15px 0;
  }

}
