.Buttons {
  position: relative;
  bottom: -120px;
  width: 100%;
  padding: 0 0 5px 0;
  background-color: #000;
  border-top: 2px solid #414141;
  box-shadow: 0px 1px 1px 1px #444;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cat-btn {
  margin: 10px;
  padding: 10px 15px;
  background-color: black;
  border: 1px solid #FCBE00;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
}

.cat-btn:hover {
  background-color: #FCBE00;
}

.people:hover {
  background-image: url('people.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.planets:hover {
  background-image: url('planet.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.vehicles:hover {
  background-image: url('ship.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.favorites:hover {
  background-image: url('lightsaber.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.select-cat {
  margin: 5px 0;
  text-align: center;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .btn-wrap {
    justify-content: center;
  }
}
